.cart-page-container{
    width: 85%;
    flex: 1;
}

.cart-container{
    display: flex;
    border-bottom: 1px solid black;
    justify-content: space-between;
    align-items: center;
}

.cart-container > img{
    width: 20rem;
}

.empty-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
     flex: 1;
}