
.title{
    display: grid;
    margin: 2rem 0 0 0;
    font-weight: 300;
    text-align: center;
    font-size: 5.5rem;
    width: 70%;
    line-height: 1.2;
    letter-spacing: 0.3rem;
    text-transform: uppercase;
}

.background-layer{
    height: 800rem;
    width: 38rem;
    border-radius: 50px;
    position: absolute;
    bottom: 100px;
    
}

.blur-layer{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    filter: blur(200px);
}
.blur-container{
    width: 99%;
    height: 65rem;
     overflow: hidden;
       border-radius: 0 0 20px 20px;
       position: absolute;
       top: 0;
       left: 0.5%;
       z-index: -1;
}

.red{
    left: 8%;
        background-color: rgb(255, 234, 0)
}
.green{
    height: 60rem;
    width: 45rem;
    transform: rotate(-45deg);
    right: -5%;
    background-color: rgb(255, 0, 0);
}
.landing-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 99%;
}
.landing-container > p{
    text-align: center;
    width: 45%;
    font-size: 1.6rem;
}

.landing-container > button{
    border: none;
    margin: 2rem;
    padding: 7px 15px;
    color: white;
    background-color: black;
    border-radius: 18px;
    transition: 0.3s ease-in-out;
    cursor: pointer;
    font-size: 1.5rem;
}

.landing-container > button:hover{
    background-color: white;
    color: black;
}

.landing-container .image-container{
    transform: rotate(10deg);
    position: relative;
    margin-top: 5%;
}
.header-shoe{
    width: 50rem;
    animation: hover 2s ease-in-out infinite;
}

@keyframes hover{
    0%{
        transform: translateY(0px);
    }

     50%{
        transform: translateY(15px);
    }
     100%{
        transform: translateY(0px);
    }
}

.middle-row{
    display: flex;
    width: min(85%, 160rem);
    justify-content: space-between;
    align-items: center;
    height: 32rem;
}

.card{
    width: 27rem;
    height: 22rem;
    padding: 10px;
    z-index: 3;
    margin-top: 15%;
    background: rgba( 255, 255, 255, 0.25 );
box-shadow: 6px 0px 30px -14px rgba(0, 0, 0, 0.37);
backdrop-filter: blur( 4px );
-webkit-backdrop-filter: blur( 4px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.3 );
display: flex;
justify-content: space-between;
align-items: center;
flex-direction: column;
flex-shrink: 0;
transition: 0.3s;
cursor: pointer;
}

.card:hover{
    background-color: black;
}

.card:hover > h3{
    color: white;
}

.card:hover > p {
    color: white;
}

.card:hover > img {
    filter: drop-shadow( -1px 2px 26px rgba(255,255,255,0.75))
}

.card:hover > button{
    background-color: rgb(255, 255, 255);
    color: black;
}

.card img{
    width: 60%;
}

.card h3,p{
    font-size: 1.8rem;
}
.card button{
    border: none;
    padding: 0.5rem 1rem;
    color: white;
    background-color: black;
    border-radius: 15px;
    transition: 0.3s ease-in-out;
    cursor: pointer;
    font-size: 1.3rem;
}

.footer{
    font-size: 1.2rem;
    text-transform: uppercase;
  margin-top: auto;
}