.product-grid{
    display: grid;
    width: min(90%,160rem);
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 5rem;
}

.product-grid img{
    width: 25rem;
}

.product-grid h3{
    font-size: 16px;
}

.item{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    border: 1px solid black;
    height: 30rem;
}

.item > h3{
    font-size: 2rem;
}

.item:hover{
    background-color: rgb(218, 218, 218);
}

.shoe6, .shoe7, .shoe8, .shoe9{
    rotate: y 180deg;
}

.shop-header{
    font-size: 6rem;
    letter-spacing: 0.5rem;
    margin: 8rem;
    text-wrap: nowrap;
}

