.nav-container{
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin-top: 1.5rem;
    align-items: center;
}

.nav-container *{
    cursor: pointer;
}

.nav-container > ul{
    display: flex;
    width: 20%;
    justify-content: space-between;
    list-style: none;
}


a{
    text-decoration: none;
    color: black;
}

.nav-list li{
    display: inline;
    box-sizing: border-box;
    border-bottom: 3px solid transparent;
}

.nav-list li:hover{
  border-bottom: 3px solid black;
}

li:visited{
text-decoration: none;
}

.nav-container * {
    font-size: 1.6rem;
}

.logo-container{
    display: flex;
    align-items: center;
    width: 12rem;
    justify-content: space-between;
}
.logo{
    width: 5rem;
}

.logo-container > h2{
    font-size: 3.5rem;
}

.nav-container > .cart{
    width: 12rem;
}